{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h3> Cart Items: </h3>
    {% if cartItems is empty %}
        <p> Your cart is empty </p>
    {% else %}
        <ul>
            {% for item in cartItems %}
                <li>
                    {{ item.product.name }} - Quantity {{ item.quantity }} - Price {{ item.product.price / 100}}
                    <a href="{{path('cart_remove', {id: item.product.id}) }}"> Remove item</a>
                </li>
            {% endfor %}
        </ul>
        <p> Total:  <strong> {{ total / 100 }}  </strong> </p>
        <a href="{{ path('cart_clear') }}"> Clear cart</a>
        <a href="{{ path('app_checkout') }}" class="btn btn-success mt-4">Proceed to Checkout</a>
    {% endif %}
</div>
{% endblock %}
