{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} – Details{% endblock %}

{% block body %}
  <h1>{{ product.name }}</h1>
  <img src="{{ asset('uploads/products/' ~ product.image) }}" alt="{{ product.name }}">
  <p>{{ product.description }}</p>
  <p><strong>Price: {{ product.price / 100 }} </strong></p>
  {{ form_start(addToCartForm) }}
    {{ form_row(addToCartForm.quantity) }}
    <button type="submit" class="btn btn-primary">Add to Cart</button>
  {{ form_end(addToCartForm) }}
  <a href="{{ path('app_shop') }}"> <- Back to shop</a>
{% endblock %}
